/* width */
::-webkit-scrollbar {
  width: 10px;
  // border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #431d1d;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(13, 13, 13);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 2, 2);
}
