@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

@import "customScroll";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  font-family: "Oswald";
}

$color: white;

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0d0537,
    #33001f,
    #370e09,
    #2f1f06,
    #252a19
  );

  nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: fixed;
    z-index: 10000;
    .logo {
      width: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        width: 60px;
        border-radius: 30px;
        cursor: pointer;
      }
    }

    ul {
      padding: 5px 10px;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      li {
        padding: 15px;
        list-style: none;
        font-size: 17px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        cursor: pointer;
        transition: all 500ms;
        &:hover {
          background-color: rgba(255, 255, 255, 0.842);
          color: crimson;
        }
      }
    }
  }

  .title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      color: $color;
      font-weight: 700;
      font-size: 5em;
      //   background-color: red;
      mix-blend-mode: screen;
    }
    p {
      color: $color;
      font-size: 20px;
    }

    .btnStart {
      margin-top: 20px;
      text-align: center;
      width: 100%;
      button {
        background-color: $color;
        width: 15%;
        padding: 15px 30px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 17px;
      }
    }
  }

  section {
    height: 50vh;
    width: 100%;
    .cardWrapper {
      display: flex;
      justify-content: space-between;
      .card {
        border: 2px solid red;
        display: flex;
        justify-content: center;

        flex: 1;
        img {
          display: block;
          object-fit: contain;
          width: 70%;
        }
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        p {
          font-size: 18px;
        }
      }
    }
  }
}
